<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<meta charset="UTF-8"></meta>
	<title>Online Library</title>
	<link th:src="@{/css/style.css}" href="/css/style.css" rel="stylesheet" type="text/css"/>
	<link th:src="@{/css/buttons.css}" href="/css/buttons.css" rel="stylesheet" type="text/css"/>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>

<body>
	<div id="container">
		<div th:replace="fragments :: panel">
		</div>
		<div th:replace="fragments :: leftmenu">
		</div>
		<div id="content">	

		</div>
		<div style="clear:both"></div>
		<div th:replace="fragments :: footer"></div>
	</div>
</body>
</html>