<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<meta charset="UTF-8"></meta>
	<title>Online Library</title>
	<link th:src="@{/css/style.css}" href="/css/style.css" rel="stylesheet" type="text/css"/>
	<link th:src="@{/css/buttons.css}" href="/css/buttons.css" rel="stylesheet" type="text/css"/>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>

<body>
	<div id="container">
		<div th:replace="fragments :: panel">
		</div>
		<div th:replace="fragments :: leftmenu">
		</div>
		<div id="content">	
		<div th:if="${correctMessage!= null}"><div class="correctMessage" th:text="${correctMessage}"></div></div>
		<div th:if="${invalidMessage!= null}"><div class="invalidMessage" th:text="${invalidMessage}"></div></div>
			<h1>Registration form</h1>
			<form action="#" method="post" th:action="@{/register}" th:object="${user}">
				<div class="errors" th:errors="*{firstName}"></div>
				<input th:field="*{firstName}" placeholder="firstname" /><br />
				<div class="errors" th:errors="*{lastName}"></div>
				<input th:field="*{lastName}" placeholder="lastname" /><br />
				<div class="errors" th:errors="*{email}"></div>
				<input th:field="*{email}" type="email" placeholder="email" /><br />
				<div class="errors" th:errors="*{password}"></div>
				<input th:field="*{password}" type="password" placeholder="password" /><br />
				<div class="errors" th:errors="*{pesel}"></div>
				<input th:field="*{pesel}" placeholder="PESEL" /><br />
				<input type="submit" value="Sign Up" /><br /><br />
			</form>
		</div>
		<div style="clear:both"></div>
		<div th:replace="fragments :: footer"></div>
	</div>
</body>
</html>
