<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<meta charset="UTF-8"></meta>
	<title>Online Library</title>
	<link th:src="@{/css/style.css}" href="/css/style.css" rel="stylesheet" type="text/css"/>
	<link th:src="@{/css/buttons.css}" href="/css/buttons.css" rel="stylesheet" type="text/css"/>
	<link th:src="@{/css/tables.css}" href="/css/tables.css" rel="stylesheet" type="text/css"/>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>

<body>
	<div id="container">
		<div th:replace="fragments :: panel">
		</div>
		<div th:replace="fragments :: leftmenu">
		</div>
		<div id="content">	
		<div th:if="${correctMessage!= null}"><div class="correctMessage" th:text="${correctMessage}"></div></div>
		<div th:if="${invalidMessage!= null}"><div class="invalidMessage" th:text="${invalidMessage}"></div></div>
			<div id="userlogo"><img th:src="@{/img/user.png}"/></div>
			<div id="userinfo">
				<div id="userinfo1">
					<div>Firstname:</div><div>Lastname:</div><div>PESEL:</div><div>Email:</div><div style="font-weight:bold">STATUS:</div><div>Debt:</div>
				</div>
				<div id="userinfo1">
					<div th:text="${user.firstName}"></div>
					<div th:text="${user.lastName}"></div>
					<div th:text="${user.pesel}"></div>
					<div th:text="${user.email}"></div>
					<div style="font-weight:bold; color:red;" th:text="${user.status}"></div>
					<div th:text="${user.hireCharge}">PLN</div>
				</div>
				<div style="clear:both"></div>
			</div>
			<div style="clear:both"></div>
			
			<div th:if="not ${myReservationList.isEmpty()}">
    			<h1>List of reserved books:</h1>
        		<table>
            		<tr>
               		 	<th>Title</th>
               		 	<th>Author</th>
               		 	<th>Expire at</th>
            		</tr>
           			<tr th:each="reservation: ${myReservationList}">
            			<form th:action="@{/deletereservation}" method="post">
                			<td th:text="${reservation.book.title}"></td>
                			<td th:text="${reservation.book.author}"></td>
                			<td th:text="${reservation.endDate}"></td>
 							<td> 	
    							<input type="hidden" name="id" th:value="${reservation.id}" ></input>
   								<input type="submit" class="button" value="Cancel" />	
							</td>  
						</form>	
            		</tr>
        		</table> 
    		</div>
    
   			<div th:if="not ${myHireList.isEmpty()}">
    		<h1>List of lent books </h1>
        		<table>
            		<tr>
                		<th>Title</th>
                		<th>Author</th>
                		<th>Expire at</th>
                		<th>Status</th>
                		<th>Debt</th>
            		</tr>
            		<tr th:each="hire: ${myHireList}">
            			<form th:action="@{/updatehire}" method="post">
                			<td th:text="${hire.book.title}"></td>
                			<td th:text="${hire.book.author}"></td>
                			<td th:text="${hire.expDate}"></td>
                			<td th:text="${hire.status}"></td>
                			<td th:text="${hire.charge}">zł</td>
 							<td> 	
    							<input type="hidden" name="id" th:value="${hire.id}" ></input>
   								<input type="submit" class="button" value="Extend" />	
							</td>  
						</form>	
            		</tr>
        		</table> 
    		</div>
    		
    		<div th:if="not ${myHistoryList.isEmpty()}">
    		<h1>History:</h1>
        		<table>
            		<tr>
                		<th>Title</th>
                		<th>Author</th>
                		<th>Started</th>
                		<th>Returned</th>
            		</tr>
            		<tr th:each="hire: ${myHistoryList}">
                		<td th:text="${hire.book.title}"></td>
                		<td th:text="${hire.book.author}"></td>
                		<td th:text="${hire.addDate}"></td>
                		<td th:text="${hire.endDate}"></td>
            		</tr>
        		</table> 
    		</div>		
		</div>
		<div style="clear:both"></div>
		<div th:replace="fragments :: footer"></div>
	</div>
</body>
</html>